<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}">Commerce Equitable</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <button id="theme-toggle" class="btn btn-secondary">Changer de thème</button>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'home' %}">Accueil</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'login' %}">Connexion</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'register' %}">Inscription</a>
            </li>
        </ul>
    </div>
</nav>
